<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DUA: Django Upload App</title>
    <link rel="stylesheet" href="{% static 'faceApp/assets/css/estilo.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'faceApp/assets/img/favicon.png' %}">
    {% block estilo_script %}{% endblock %}
</head>
<body>
    <img src="{% static 'faceApp/assets/img/imagen.jpg' %}" alt="caras" width="300">
    {% block contenido %}{% endblock %}
    <script src="{% static 'faceApp/assets/js/script.js' %}"></script>
</body>
</html>