{% extends "base.html" %}
{% block contenido %}
    <h1>face {{valor}}</h1>
    <h2>Don´t use hardcoded urls</h2>
    <ul>
        <li>
            <a href="/detalle/1">enlace 1</a>
        </li>
        <li>
            <a href="/face/detalle/1">enlace 2</a>
        </li>
        <li>
            <a href="detalle/1">enlace 3</a>
        </li>
        <li>
            <a href="{% url 'en_face:detalle' 1 %}">enlace 4</a>
        </li>
        <li>
            <a href="{% url 'en_face:detalle' 2 %}">enlace 5</a>
        </li>
        <li>
            <a href="{% url 'en_face:upload' %}">upload</a>
        </li>
    </ul>

    <form action="{%url 'en_face:detalle' 567 %}" method="post">
        {% csrf_token %}
        <input type="submit">
    </form>
{% endblock %}